<div class="author">
    <img src="{{settings.author.avatar}}" alt="{{settings.author.name}}" class="author-avatar">
    <div class="author-info">
        <h4 class="author-name">
            {{settings.author.username}}
        </h4>
        <p class="author-bio">
            {{settings.author.minibio}}
        </p>
    </div>
</div>
