<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico?v=2">

    <title>
        {{ title | safe }}
        {% if title %}&rsaquo;{% endif %}
        {{ settings.siteMetaData.siteTitle }}
    </title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/prism.css">
    <script src="https://kit.fontawesome.com/2b252bd247.js" crossorigin="anonymous"></script>
</head>

<body id="root">
    <div class="container">
        {% include "home/header.njk" %}
        {{ content | safe }}
    </div>

    <script src="/assets/js/app.js"></script>
    <!-- <script src="/assets/js/slingshot.js"></script> -->
</body>

</html>
