@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

/* -------------- VARIABLES -------------- */
:root {
    color-scheme: light;
    --in: oklch(0.7206 0.191 231.6);
    --su: oklch(64.8% 0.150 160);
    --wa: oklch(0.8471 0.199 83.87);
    --er: oklch(0.7176 0.221 22.18);
    --pc: oklch(0.89824 0.06192 275.75);
    --ac: oklch(0.15352 0.0368 183.61);
    --inc: oklch(0 0 0);
    --suc: oklch(0 0 0);
    --wac: oklch(0 0 0);
    --erc: oklch(0 0 0);
    --rounded-box: 1rem
        /* 16px */
    ;
    --rounded-btn: 0.5rem
        /* 8px */
    ;
    --rounded-badge: 1.9rem
        /* 30.4px */
    ;
    --animation-btn: 0.25s;
    --animation-input: .2s;
    --btn-focus-scale: 0.95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem
        /* 8px */
    ;
    --p: oklch(0.4912 0.3096 275.75);
    --s: oklch(0.6971 0.329 342.55);
    --sc: oklch(0.9871 0.0106 342.55);
    --a: oklch(0.7676 0.184 183.61);
    --n: oklch(0.321785 0.02476 255.701624);
    --nc: oklch(0.894994 0.011585 252.096176);
    --b1: oklch(1 0 0);
    --b2: oklch(0.961151 0 0);
    --b3: oklch(0.924169 0.00108 197.137559);
    --bc: oklch(0 0 0);
}

:root:has(input.theme-controller[value=dark]:checked) {
    color-scheme: dark;
    --in: oklch(0.7206 0.191 231.6);
    --su: oklch(64.8% 0.150 160);
    --wa: oklch(0.8471 0.199 83.87);
    --er: oklch(0.7176 0.221 22.18);
    --pc: oklch(0.13138 0.0392 275.75);
    --sc: oklch(0.1496 0.052 342.55);
    --ac: oklch(0.14902 0.0334 183.61);
    --inc: oklch(0 0 0);
    --suc: oklch(0 0 0);
    --wac: oklch(0 0 0);
    --erc: oklch(0 0 0);
    --rounded-box: 1rem
        /* 16px */
    ;
    --rounded-btn: 0.5rem
        /* 8px */
    ;
    --rounded-badge: 1.9rem
        /* 30.4px */
    ;
    --animation-btn: 0.25s;
    --animation-input: .2s;
    --btn-focus-scale: 0.95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem
        /* 8px */
    ;
    --p: oklch(0.6569 0.196 275.75);
    --s: oklch(0.748 0.26 342.55);
    --a: oklch(0.7451 0.167 183.61);
    --n: oklch(0.313815 0.021108 254.139175);
    --nc: oklch(0.746477 0.0216 264.435964);
    --b1: oklch(0.253267 0.015896 252.417568);
    --b2: oklch(0.232607 0.013807 253.100675);
    --b3: oklch(0.211484 0.01165 254.087939);
    --bc: oklch(0.746477 0.0216 264.435964);
}

/* -------------- COLORS -------------- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--b1);
    color: var(--bc);
    user-select: none;
}

/* -------------- RESET -------------- */
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* -------------- GLOBAL -------------- */

/* -------------- NAV -------------- */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.5px solid var(--bc);
}

.header-logo {
    flex: 2;
}

.site-title {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    padding: 10px;
    display: inline-block;
}

.active {
    color: var(--p);
    position: relative;
}

.nav-menu-item a.active:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--p);
}

.shake:hover {
    /* animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both; */
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    color: var(--p);
}

.shake::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    background-color: var(--p);
    transition: width 0.5s;
}

.shake:hover:after {
    width: 100%;
}

.nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.toggle-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu-item a {
    position: relative;
    font-size: larger;
    display: flex;
}

#switch {
    height: 0;
    width: 0;
    visibility: hidden;
}

#switch+label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 15px;
    position: relative;
}

#switch+label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 9px;
    transition: 0.3s ease-in-out;
}

#switch:checked+label {
    background: var(--p);
}

#switch:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

#switch:active+label:after {
    width: 30px;
}

.alert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: var(--p);
    text-align: center;
    z-index: 9999;
}

.alert p {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    padding: 10px;
    display: inline-block;
    color: var(--pc);
}

/* -------------- NAV -------------- */

/* -------------- ANIMATIONS -------------- */
/* shake */
@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes mouse {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}


/* -------------- ANIMATIONS -------------- */

/* -------------- HERO -------------- */
.hero {
    color: var(--bc);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 114px);
    padding: 0;
    cursor: default;
    user-select: none;
    border: 0;
}

.hero .hero-name {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    padding: 10px;
    display: inline-block;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
}

.hero .hero-title {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    padding: 10px;
    display: inline-block;
    text-shadow: 0 2px 3px #747474,
        1px 3px 4px #222,
        0 8px 3px #474747,
        0 11px 4px #747474,
        0 14px 4px #565656,
        0 17px 4px #343434,
        0 20px 4px #171717;
}

.hero-social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    width: 50%;
}

.mouse-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 50px;
    border: 2px solid var(--bc);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: mouse 1s infinite;
}

.mouse-scroll {
    width: 10px;
    height: 10px;
    border: 2px solid var(--bc);
    border-radius: 50%;
    animation: mouse 1s infinite;
}



.hero-social-link:hover .fa-github {
    color: #4183C4;
}

.hero-social-link:hover .fa-linkedin {
    color: #0077B5;
}

.hero-social-link:hover .fa-twitter {
    color: #1DA1F2;
}

.hero-social-link:hover .fa-instagram {
    color: #E1306C;
}

/* -------------- HERO -------------- */
/* -------------- SLINGSHOT -------------- */
.ball {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
}

.center-point {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--bc);
    border-radius: 50%;
}

.slingshot-line {
    position: absolute;
    background-color: var(--bc);
    height: 2px;
    z-index: 9999;
}

/* -------------- SLINGSHOT -------------- */

/* -------------- BLOG -------------- */

.main-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0 40px 0;
}

.page-title {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    margin: 0 0 20px 0;
}

.post-container {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    border-radius: 10px;
    background-color: var(--b2);
}

.post-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-container-header h2 {
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    position: relative;
    padding: 8px;
    display: inline-block;
}

.post-container-header h2:hover {
    color: var(--p);
}

.post-container-header .post-tag-logo {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    border-radius: 5px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}


.post-container-body {
    font-size: .8rem;
}

/* FEATURE ANIMATION */
.featured {
    position: relative;
    margin: 15px 0;
    background-color: var(--b2);
}


.featured-posts {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--bc);
}

.featured-posts h3 {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    position: relative;
    padding: 8px;
    display: inline-block;
}

.pinned {
    transform: rotate(300deg);
    width: 26px;
    height: 26px;
}

.featured img {
    width: 26px;
}

.featured:before,
.featured:after {
    content: '';
    position: absolute;
    border-radius: 10px;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, var(--wa) 0%, var(--sc) 20%, var(--in) 40%, var(--a) 60%, var(--s) 80%, var(--p) 100%);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 60s linear infinite;
}

.featured:nth-child(odd):before,
.featured:nth-child(odd):after {
    animation-delay: -25s;
    animation-direction: reverse;
    /* Animasyonu ters yönde başlatır */
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.featured:after {
    filter: blur(50px);
}

/* FEATURE ANIMATION */


/* -------------- BLOG -------------- */
/* -------------- PROJECTS -------------- */

/* -------------- PROJECTS -------------- */
/* -------------- PROJECTS -------------- */

.pagination-container {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1rem;
    margin: 30px 0;
}

.pagination-link {
    flex: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination-info {
    margin: 0 4px;
    white-space: nowrap;
}


/* -------------- RESPONSIVE -------------- */
@media screen and (max-width: 768px) {

    html {
        font-size: 14px;
    }

    header.wrapper {
        padding-bottom: 20px;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .nav {
        width: 100%;
        margin-top: 10px;
    }

    #switch+label {
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 20px;
        background: grey;
        display: block;
        border-radius: 15px;
        position: relative;
    }

    #switch+label:after {
        width: 14px;
        height: 14px;
        border-radius: 7px;
    }


    #switch:active+label:after {
        width: 30px;
    }

    .hero {
        height: calc(90vh - 112.8px) !important;

    }

    .hero .hero-name {
        font-size: 2rem !important;
    }

    .hero .hero-title {
        font-size: 1rem !important;
    }

    .hero .hero-title {
        text-shadow: 0 2px 2px #747474,
            1px 3px 3px #222,
            0 8px 2px #474747,
            0 5px 3px #747474,
            0 7px 3px #565656,
            0 8px 3px #343434,
            0 10px 3px #171717;
    }

    .hero-social {
        width: 80%;
    }

    .alert {
        padding: 0;
    }

    .alert p {
        font-size: .75rem;
    }
}

@media screen and (max-width: 900px) {
    .container {
        padding: 0;
    }

    .hero .hero-name {
        font-size: 2rem;
    }

    .hero .hero-title {
        font-size: 1rem;
    }
}

/* -------------- RESPONSIVE -------------- */
