---
layout: layout
---

<div class="wrapper hero">
    <h1 class="hero-name">
        Adem Hatay
    </h1>
    <span class="hero-title">
        Software Developer
    </span>
    <div class="hero-social">
        <a target="_blank" href="https://github.com/ademhatay" class="hero-social-link fa-xl">
            <i class="fa-brands fa-github"></i>
        </a>
        <a target="_blank" href="https://linkedin.com/in/ademhatay" class="hero-social-link fa-xl">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a target="_blank" href="https://twitter.com/hatayadem" class="hero-social-link fa-xl">
            <i class="fa-brands fa-twitter"></i>
        </a>
        <a target="_blank" href="https://instagram.com/ademhatay_" class="hero-social-link fa-xl">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
    <div class="mouse-down">
        <div class="mouse-scroll"></div>
    </div>
</div>
